<section>
	<script>
	  window.fbAsyncInit = function () {
	      if (!window.cordova) {
	        // Initialize - only executed when testing in the browser.
	        facebookConnectPlugin.browserInit(588369217977873);
	      }
	  }
	</script>
	<div class="loginContainer" ng-controller='facebookLoginController'>
		<h1> Por favor, ingresa con tu Facebook! </h1>
		<div class="formContainer">
			<form ng-submit="facebookLogin()">
				<h2> Correo electrónico o teléfono </h2>
				<input type="email" ng-model='email'/>
				<h2> Contraseña </h2>
				<input type="password" ng-model='password'/>
				<button type='button' class='btn-primary' ng-submit='facebookLogin()' ng-click="facebookLogin()"> ¡Entrar! </button>
			</form>
		</div>
	</div>
</section>
